Source: xivo-ctid-ng-client
Section: python
Priority: extra
Maintainer: Wazo Maintainers <dev.wazo@gmail.com>
Build-Depends: debhelper (>= 8), dh-python, python-all (>= 2.7), python-setuptools
Standards-Version: 3.9.6
X-Python-Version: >= 2.7

Package: xivo-ctid-ng-client
Architecture: all
Section: python
Depends: ${python:Depends}, ${misc:Depends}, xivo-lib-rest-client, python-requests, python-stevedore
Description: xivo-ctid-ng client library in python
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
